@import "tailwindcss";

@theme {
  --font-dm: "DM Serif Text", serif;
  --font-ita: "Italiana", sans-serif;
  --font-quick: "Quicksand", sans-serif;

  --color-pink: oklch(0.67 0.1958 336.96);
  --color-pink-80: rgba(175, 105, 161, 0.2);

  --color-orange: oklch(0.69 0.1296 32.31);
  --color-orange-80: rgba(212, 140, 77, 0.2);

  --color-yellow: oklch(0.71 0.1222 93.36);
  --color-yellow-80: rgba(253, 209, 59, 0.2);

  --color-green: oklch(0.7 0.1258 125.84);
  --color-green-80: rgba(30, 139, 88, 0.2);

  --color-blue: oklch(0.67 0.087 265.3);
  --color-blue-80: rgba(123, 148, 203, 0.2);

  --color-red: oklch(0.48 0.1332 31.24);
  --color-red-80: rgba(164, 80, 80, 0.2);

  --color-purple: oklch(0.58 0.193 273.57);
  --color-purple-80: rgba(92, 55, 162, 0.2);

  --color-teal: oklch(0.64 0.218 177.75);
  --color-teal-80: rgba(44, 147, 142, 0.2);

  --color-cyan: oklch(0.72 0.165 189.43);
  --color-cyan-80: rgba(68, 158, 174, 0.2);

  --color-brown: oklch(0.51 0.0869 48.93);
  --color-brown-80: rgba(140, 98, 63, 0.2);
}
