.cabecalho {
  background-image: url("../assets/banner-1.jpg");
  background-color: var(--cinza-600); /* Fallback */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 88px 0;
  position: relative;
  z-index: 1; /* Garante que o cabeçalho fique acima do formulário */
}

/* Overlay escuro para melhorar a legibilidade */
.cabecalho::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 13, 0.5); /* Overlay com 50% de opacidade */
  z-index: -1; /* Coloca o overlay atrás do conteúdo */
}
