/* ===== FORMULARIO - CATEGORIA ===== */
.categoria {
  display: flex;
  flex-direction: column;
}

.btn-categoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cinza-400);
  border: 1px solid var(--cinza-300);
  border-radius: 6px;
  color: var(--cinza-200);
  padding: 12px;
  width: 168px;
  cursor: pointer;
}

.lista-categorias {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  border-radius: 6px;
  background-color: var(--cinza-400);
  border: 1px solid var(--cinza-300);
  z-index: 5;
}

.item-categoria {
  display: flex;
  padding: 12px 0 12px 12px;
  width: 60px;
  border-bottom: 1px solid var(--cinza-300);
  width: 155px;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item-categoria:last-child {
  border-bottom: none;
}

.item-categoria:hover {
  background-color: var(--cinza-300);
}

.novo-item-categoria {
  display: flex;
  align-items: center;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  .btn-categoria {
    width: 140px;
  }

  .item-categoria {
    width: 125px;
  }
}
