<<<<<<< HEAD
/* ===== FORMULÁRIO ===== */
.formulario {
  display: flex;
  flex-direction: column;
  padding: 0 360px;
  text-align: left;
  position: relative;
  z-index: 2;
  margin-top: -100px;
  position: fixed;
}

.formulario-titulo,
.formulario-container {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Fundo escuro para melhorar a legibilidade */
  padding: 8px;
  border-radius: 8px;
  z-index: 1;
}

.formulario-titulo {
  top: 15%;
  position: fixed;
}

.formulario-container {
  top: 22%;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  position: fixed;
}

.quantidade-categoria {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* ===== FORMULÁRIO - ITEM ===== */
.item {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
}

.item input {
  background-color: var(--cinza-500);
  border-radius: 6px;
  padding: 12px;
  outline: none;
  border: 1px solid var(--cinza-300);
  color: var(--cinza-100);
}

/* ===== BOTÃO ADICIONAR ===== */
.formulario-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-adicionar {
  background-color: transparent;
  border: none;
}

.lista-categorias.oculto,
.lista-unidades.oculto {
  display: none;
}

/* ===== ITENS DA LISTA DE COMPRAS ===== */
.lista-de-itens {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 200px;
  width: 765px;
  position: relative;
}

.novo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cinza-400);
  border: 1px solid var(--cinza-300);
  border-radius: 8px;
  padding: 16px;
  position: relative;
}

/* ===== DESCRIÇÃO DO ITEM ===== */
.novo-item-descricao {
  display: flex;
  gap: 16px;
  align-items: center;
}

.descricao-texto {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.novo-item-descricao h2 {
  font-size: 14px;
  font-weight: 700;
  color: var(--cinza-100);
}

.novo-item-descricao p {
  font-size: 12px;
  font-weight: 400;
  color: var(--cinza-200);
}

/* ===== CATEGORIA DO ITEM ===== */
.categoria-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.novo-item-categoria {
  display: flex;
  gap: 12px;
  background-color: var(--orange-dark);
  padding: 8px 16px;
  border-radius: 999px;
}

/* ===== ESTILO DO CHECKBOX ===== */
.input-novo-item {
  display: none;
}

.label-checkbox {
  border: var(--purple-light);
  display: flex;
  width: 16px;
  height: 16px;
  border: 1px solid var(--purple-light);
  cursor: pointer;
  border-radius: 2px;
  margin: 0;
}

.label-checkbox:hover {
  background-color: var(--purple);
}

.input-novo-item:checked + .label-checkbox {
  border: 1px solid var(--success-light);
  background-color: var(--success);
  background-image: url("../assets/Type=check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* ===== BOTÃO DO MENU ===== */
.botao-menu {
  background-color: transparent;
  border: none;
}

/* ===== MENU DE EDIÇÃO ===== */
.menu-editar {
  position: absolute;
  right: -15%;
  top: 50%;
  transform: translateY(-50%);
  padding: 9px;
  background-color: var(--cinza-400);
  border-radius: 8px;
  border: 1px solid var(--cinza-300);
}

.menu-editar.oculto {
  display: none;
}

.menu-editar button {
  background-color: transparent;
  border: none;
}

.menu-editar button:hover {
  background-color: var(--cinza-300);
  border-radius: 8px;
  border: 1px solid var(--purple-light);
}

.editar-item,
.deletar-item {
  padding: 5px;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  /* ===== FORMULÁRIO ===== */
  .formulario {
    padding: 0;
    position: fixed;
    padding: 0;
    width: 100%;
    top: 25%;
    display: flex;

    margin-top: -50px;
    justify-content: center;
  }

  .formulario-titulo {
    margin: 0 4vw;
    top: 10%;
  }

  .formulario-container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 12px;
    margin-bottom: 40px;
    position: fixed;
    margin: 0 4vw;
    top: 15%;
  }

  .quantidade-categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  /* ===== FORMULÁRIO - ITEM ===== */
  .item {
    width: 100%;
  }

  .item input {
    width: auto;
  }

  .lista-de-itens {
    width: 92vw;
    justify-content: center;
    display: flex;
    padding: 0 4vw;
    margin-top: 150px;
  }

  .categoria-container {
    gap: 100px;
  }

  .menu-editar {
    right: 12%;
    top: 50%;
    padding: 9px;
    background-color: var(--cinza-300);
    border-radius: 8px;
    border: 1px solid var(--cinza-300);
  }

  .editar-item,
  .deletar-item {
    padding: 2px;
  }
}
=======
/* ===== FORMULÁRIO ===== */
.formulario {
  display: flex;
  flex-direction: column;
  padding: 0 360px;
  text-align: left;
  position: relative;
  z-index: 2;
  margin-top: -100px;
  position: fixed;
}

.formulario-titulo,
.formulario-container {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Fundo escuro para melhorar a legibilidade */
  padding: 8px;
  border-radius: 8px;
  z-index: 1;
}

.formulario-titulo {
  top: 15%;
  position: fixed;
}

.formulario-container {
  top: 22%;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  position: fixed;
}

.quantidade-categoria {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* ===== FORMULÁRIO - ITEM ===== */
.item {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
}

.item input {
  background-color: var(--cinza-500);
  border-radius: 6px;
  padding: 12px;
  outline: none;
  border: 1px solid var(--cinza-300);
  color: var(--cinza-100);
}

/* ===== BOTÃO ADICIONAR ===== */
.formulario-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-adicionar {
  background-color: transparent;
  border: none;
}

.lista-categorias.oculto,
.lista-unidades.oculto {
  display: none;
}

/* ===== ITENS DA LISTA DE COMPRAS ===== */
.lista-de-itens {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 200px;
  width: 765px;
  position: relative;
}

.novo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cinza-400);
  border: 1px solid var(--cinza-300);
  border-radius: 8px;
  padding: 16px;
  position: relative;
}

/* ===== DESCRIÇÃO DO ITEM ===== */
.novo-item-descricao {
  display: flex;
  gap: 16px;
  align-items: center;
}

.descricao-texto {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.novo-item-descricao h2 {
  font-size: 14px;
  font-weight: 700;
  color: var(--cinza-100);
}

.novo-item-descricao p {
  font-size: 12px;
  font-weight: 400;
  color: var(--cinza-200);
}

/* ===== CATEGORIA DO ITEM ===== */
.categoria-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.novo-item-categoria {
  display: flex;
  gap: 12px;
  background-color: var(--orange-dark);
  padding: 8px 16px;
  border-radius: 999px;
}

/* ===== ESTILO DO CHECKBOX ===== */
.input-novo-item {
  display: none;
}

.label-checkbox {
  border: var(--purple-light);
  display: flex;
  width: 16px;
  height: 16px;
  border: 1px solid var(--purple-light);
  cursor: pointer;
  border-radius: 2px;
  margin: 0;
}

.label-checkbox:hover {
  background-color: var(--purple);
}

.input-novo-item:checked + .label-checkbox {
  border: 1px solid var(--success-light);
  background-color: var(--success);
  background-image: url("../assets/Type=check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* ===== BOTÃO DO MENU ===== */
.botao-menu {
  background-color: transparent;
  border: none;
}

/* ===== MENU DE EDIÇÃO ===== */
.menu-editar {
  position: absolute;
  right: -15%;
  top: 50%;
  transform: translateY(-50%);
  padding: 9px;
  background-color: var(--cinza-400);
  border-radius: 8px;
  border: 1px solid var(--cinza-300);
}

.menu-editar.oculto {
  display: none;
}

.menu-editar button {
  background-color: transparent;
  border: none;
}

.menu-editar button:hover {
  background-color: var(--cinza-300);
  border-radius: 8px;
  border: 1px solid var(--purple-light);
}

.editar-item,
.deletar-item {
  padding: 5px;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  /* ===== FORMULÁRIO ===== */
  .formulario {
    padding: 0;
    position: fixed;
    padding: 0;
    width: 100%;
    top: 25%;
    display: flex;

    margin-top: -50px;
    justify-content: center;
  }

  .formulario-titulo {
    margin: 0 4vw;
    top: 10%;
  }

  .formulario-container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 12px;
    margin-bottom: 40px;
    position: absolute;
    margin: 0 4vw;
    top: -10%;
  }

  .quantidade-categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  /* ===== FORMULÁRIO - ITEM ===== */
  .item {
    width: 100%;
  }

  .item input {
    width: auto;
  }

  .lista-de-itens {
    width: 92vw;
    justify-content: center;
    display: flex;
    padding: 0 4vw;
    margin-top: 150px;
  }

  .categoria-container {
    gap: 100px;
  }

  .menu-editar {
    right: 12%;
    top: 50%;
    padding: 9px;
    background-color: var(--cinza-300);
    border-radius: 8px;
    border: 1px solid var(--cinza-300);
  }

  .editar-item,
  .deletar-item {
    padding: 2px;
  }
}
>>>>>>> ab00f33dc0e1043f3764c22c4f8dd9f90650baa6
