<<<<<<< HEAD
/* ===== FORMULARIO - QUANTIDADE ===== */
.quantidade {
  display: flex;
  flex-direction: column;
}

.quantidade-itens {
  display: flex;
}

.quantidade input {
  background-color: var(--cinza-500);
  border-radius: 6px 0 0 6px;
  padding: 12px;
  width: 79px;
  outline: none;
  border: 1px solid var(--cinza-300);
  color: var(--cinza-100);
}

.btn-quantidade {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  line-height: 16px;
  padding: 12px;
  gap: 15px;
  width: 70px;
  background-color: var(--cinza-400);
  border: 1px solid var(--cinza-300);
  border-radius: 0 6px 6px 0;
  color: var(--cinza-200);
  position: relative;
  cursor: pointer;
}

/* ===== LISTA DE UNIDADES ===== */
.lista-unidades {
  font-size: 14px;
  display: block;
  position: absolute;
  top: 30%;
  right: 33%;
  transform: translateY(50%);
  border-radius: 6px;
  background-color: var(--cinza-400);
  border: 1px solid var(--cinza-300);
  z-index: 3;
  cursor: pointer;
}

.item-unidade:hover {
  background-color: var(--cinza-300);
}

.item-unidade {
  display: flex;
  flex-direction: column;
  padding: 12px 0 12px 12px;
  width: 56px;
  border-bottom: 1px solid var(--cinza-300);
  transition: background-color 0.3s; /* Efeito suave ao interagir */
}

.item-unidade:last-child {
  border-bottom: none;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  .quantidade input {
    width: 50px;
  }

  .item-unidade {
    width: auto;
  }

  .lista-unidades {
    width: 67px;
    top: 60%;
    left: 84px;
  }
}
=======
/* ===== FORMULARIO - QUANTIDADE ===== */
.quantidade {
  display: flex;
  flex-direction: column;
}

.quantidade-itens {
  display: flex;
}

.quantidade input {
  background-color: var(--cinza-500);
  border-radius: 6px 0 0 6px;
  padding: 12px;
  width: 79px;
  outline: none;
  border: 1px solid var(--cinza-300);
  color: var(--cinza-100);
}

.btn-quantidade {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  line-height: 16px;
  padding: 12px;
  gap: 15px;
  width: 70px;
  background-color: var(--cinza-400);
  border: 1px solid var(--cinza-300);
  border-radius: 0 6px 6px 0;
  color: var(--cinza-200);
  position: relative;
  cursor: pointer;
}

/* ===== LISTA DE UNIDADES ===== */
.lista-unidades {
  font-size: 14px;
  display: block;
  position: absolute;
  top: 30%;
  right: 33%;
  transform: translateY(50%);
  border-radius: 6px;
  background-color: var(--cinza-400);
  border: 1px solid var(--cinza-300);
  z-index: 3;
  cursor: pointer;
}

.item-unidade:hover {
  background-color: var(--cinza-300);
}

.item-unidade {
  display: flex;
  flex-direction: column;
  padding: 12px 0 12px 12px;
  width: 56px;
  border-bottom: 1px solid var(--cinza-300);
  transition: background-color 0.3s; /* Efeito suave ao interagir */
}

.item-unidade:last-child {
  border-bottom: none;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  .quantidade input {
    width: 50px;
  }

  .item-unidade {
    width: auto;
  }

  .lista-unidades {
    width: 67px;
    top: 60%;
    left: 84px;
  }
}
>>>>>>> ab00f33dc0e1043f3764c22c4f8dd9f90650baa6
